@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700&display=swap");

// Font Family
$theme-text-font: "Libre Franklin", sans-serif;

// Primary Colors
$theme-blue-color: hsl(223, 87%, 63%);

// Secondary Colors
$theme-pale-blue-color: hsl(223, 100%, 88%);
$theme-light-red-color: hsl(354, 100%, 66%);

// Neutral Colors
$theme-gray-color: hsl(0, 0%, 59%);
$theme-very-dark-blue-color: hsl(209, 33%, 12%);

// Transition
$theme-transition: 0.3s ease-in-out;

$media: (
  sm: 576px,
  // Small devices
  md: 768px,
  // Medium devices
  lg: 992px,
  // Large devices
  xl: 1200px,
  // X-Large devices
  2xl: 1400px,
  // XX-Large devices
  3xl: 1900px,
  // XXX-Large devices
  rwd: 364px,
  // Custom device
);

// Border Shadow
$theme-box-shadow: 0 0.063rem 0.188rem rgba($theme-very-dark-blue-color, 0.12),
  0 0.063rem 0.125rem rgba($theme-very-dark-blue-color, 0.24);
$theme-box-shadow-hover: 0 0.875rem 1.75rem
    rgba($theme-very-dark-blue-color, 0.25),
  0 0.625rem 0.625rem rgba($theme-very-dark-blue-color, 0.22);
